

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"><img src="images/logo20kb.png" alt="alternative" id="bqIcon"></a> 
        <span class="navbar-brand.logo-text">
            <a class="navbar-brand logo-image" href="/"><span id="bqText">Blood Quest</span></a><br>
            You're always somebody's type
        </span>
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/request">Request Blood </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/donateMoney">Support us financially</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contact us</a>
                </li>
                      
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#about">About</a>
                </li>

                {{#if loggedIn}}
                    {{#if name}}
                        <li class="nav-item">
                            <div id="signLogBtn">
                                <a class="nav-link page-scroll wildcadLinks" href="/me" role="button" aria-haspopup="true" aria-expanded="false">
                                    Hi {{name}} !&nbsp;
                                </a>
                            </div>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <div id="signLogBtn">
                                <a class="nav-link page-scroll wildcadLinks" href="/me" role="button" aria-haspopup="true" aria-expanded="false">Complete Profile</a>
                            </div>
                        </li>
                    {{/if}}
                {{else}}
                    <li class="nav-item dropdown">
                        <div id="signLogBtn">
                            <a class="nav-link page-scroll wildcadLinks" href="/signup" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Signup</a>
                            <a class="nav-link page-scroll wildcadLinks" href="/login" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                        </div>
                    </li>
                {{/if}}

            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->