@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.loginContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 49.9%;
    height: 100%;
    background-color: #FFDF00;
}
.loginPageHeading {
    display: table;
    margin: 0 auto;
    margin-top: 4%;
    z-index: 2;
    color: white;
    font-weight: normal;
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
}
.slogan {
    display: table;
    margin: 0 auto;
    width: 80%;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif; 
    font-size: 90%;
    color: #707070;
    text-align: center;
    /* border: black solid 1px; */
}
.name {
    display: table;
    margin: 0 auto;
    margin-top: 12%;
    width: 45% ;
    height: 6%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 4%;
}
.name::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 85%;
    opacity: 1;
}
.pass {
    display: table;
    margin: 0 auto;
    margin-top: 4%;
    width: 45% ;
    height: 6%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 4%;
}
.pass::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 85%;
    opacity: 1;
}
.loginBtn {
    display: table;
    margin: 0 auto;
    width: 25%;
    height: 6%;
    border: none;
    outline-style: none;
    border-radius: 10px;
    margin-top: 6%;
    background-color: #ff0490;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.forgotPass {
    display: table;
    margin: 0 auto;
    background-color: transparent;
    color: #707070;
    font-family: 'Poppins', sans-serif; 
    font-size: 50%;
    height: 5%;
    border: none;
    outline: none;
}
.signupContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: white;
}
.signupPageHeading {
    display: table;
    margin: 0 auto;
    z-index: 2;
    top: 4%;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #707070;
    font-family: 'Poppins', sans-serif; 
}
.email {
    margin-left: 5%;
    height: 5%;
    width: 40%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 4%;
}
.email::placeholder{
    color: black;
    opacity: 1;
}
.password {
    margin-left: 5%;
    height: 5%;
    width: 40%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 4%;
}
.password::placeholder {
    color: black;
    opacity: 1;
}
.age{
    margin-left: 5%;
    height: 5%;
    width: 20%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 4%;
}
.age::placeholder {
    color: black;
    opacity: 1;
}
.sex {
    margin-left: 5%;
    height: 5%;
    width: 20%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 4%;
}
.state {
    margin-left: 5%;
    height: 5%;
    width: 30%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 3%;
}
.district {
    margin-left: 5%;
    height: 5%;
    width: 20%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 3%;
}
.country {
    margin-left: 5%;
    height: 5%;
    width: 20%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 3%;
}
.bloodType {
    margin-left: 5%;
    height: 5%;
    width: 20%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 3%;
}
.firstname {
    margin-left: 5%;
    height: 5%;
    width: 40%;
    margin-top: 6%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 4%;
}
.firstname::placeholder {
    opacity: 1;
    color: black;
}
.lastname {
    margin-left: 5%;    
    height: 5%;
    width: 40%;
    margin-top: 5%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 4%;
}
.lastname::placeholder {
    opacity: 1;
    color: black;
}
.diseaseCount {
    margin-left: 5%;
    height: 5%;
    width: 40%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 4%;
}
.diseaseCount::placeholder {
    color: black;
    opacity: 1;
}
.phone {
    margin-left: 5%;
    height: 5%;
    width: 40%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 4%;
}
.phone::placeholder {
    color: black;
    opacity: 1;
}
.whatsApp {
    margin-left: 5%;
    height: 5%;
    width: 40%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 4%; 
}
.whatsApp::placeholder {
    color: black;
    opacity: 1;
}
.pin {
    margin-left: 5%;
    height: 5%;
    width: 40%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-left: 4%; 
}
.pin::placeholder {
    color: black;
    opacity: 1;
}
.localAddress { 
    margin-left: 5%;
    position: absolute;
    height: 13%;
    width: 40%;
    margin-top: 3%;
    border-radius: 15px;
    background-color: #dcdcdc;
    border: none;
    color: black;
    outline-style: none;
    font-size: 70%;
    padding-top: 1%;
    padding-left: 3%; 
}
.localAddress::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 80%;
    color: black;
    opacity: 1;
}
.pic {
    height: 5%;
    font-size: 70%;
    margin-top: 3%;
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
}
.submitBtn {
    display: table;
    margin: 0 auto;
    width: 25%;
    height: 6%;
    border: none;
    outline-style: none;
    border-radius: 10px;
    margin-top: 6%;
    background-color: #ff0490;
    color: white;
    font-family: 'Poppins', sans-serif;
}