<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML Meta Tags -->
        <!-- SEO Meta Tags -->
        <title>Blood Quest - Seamless way to link blood donors and needies </title>
        <meta name="description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta name="author" content="Omkar Phansopkar">

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="Blood Quest - Seamless way to link blood donors and needies ">
        <meta itemprop="description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta itemprop="image" content="https://bloodquest.herokuapp.com/logoMetaBigB.png">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://bloodquest.herokuapp.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Blood Quest - Seamless way to link blood donors and needies ">
        <meta property="og:description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta property="og:image" content="https://bloodquest.herokuapp.com/images/logoMetaBigB.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Blood Quest - Seamless way to link blood donors and needies ">
        <meta name="twitter:description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta name="twitter:image" content="https://bloodquest.herokuapp.com/images/logoMetaBigB.png">



    
    <!-- Styles -->
    {{>cssdependencies}}
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="images/logoFavicon.png">

    <style type="text/css">
        input:focus, input:hover{
            outline:none;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
    </style>
    <script src="https://checkout.stripe.com/checkout.js" data-currency="inr"></script>
    <script type="text/javascript" defer>
        let donorName = "{{name}}";
        const stripePublicKey = "{{stripePublicKey}}";
        // console.log("Our public key for stripe: stripePublicKey",stripePublicKey);
        let stripeHandler = StripeCheckout.configure({
            key: stripePublicKey,
            locale: 'auto',
            token: function(token){
                console.log("Received following token");
                console.log(token);
                fetch("/processPayment", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({
                        donationAmount,
                        stripeTokenId: token.id,
                        donorName
                    })
                }).then((res)=>{
                    return res.json();
                }).then((data)=>{
                    alert(data.message);
                }).catch((err)=>{
                    console.error(err);
                    alert("Something went wrong while receiving payment !");
                })
            }
        });
        
        // let donationAmount = 5 * 100;   // 500 cents i.e. 5 $


        function processDonation(){
            let donationAmount = document.getElementById("donationAmount").value;
            let donorEmail = document.getElementById("donorEmail").value;
            let donorName = document.getElementById("donorName").value;
            console.log({donationAmount,donorEmail,donorName})
            
            stripeHandler.open({
                amount: donationAmount
            });
            return false;
        }
    </script>
</head>
<body data-spy="scroll" data-target=".fixed-top">
    {{>header}}
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <form class="text-container" onsubmit="return processDonation();">
                            <h1><span class="turquoise" id="supportFinancialText">Support us financially,</span></h1>
                            <p class="p-large">Your donations help maintenance of this tool and a portion of it goes to NGOs & blood bank managements</p>
                            <input type="email"  id="donorEmail" placeholder="Your email.." required 
                            value="{{email}}">
                            <input type="text" maxlength="20" minlength="2" id="donorName" placeholder="Your name.." required value="{{name}}"><br>
                            Donation (in ₹)<input type="number" max="1000" id="donationAmount" required>
                            <input class="btn-solid-lg page-scroll" type="submit" title="Proceed"              onClick="processDonation(); return false;" >
                            <br></br>
                        </form> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="images/monetaryDonation.png" alt="alternative" id="donorImg">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->





    
    {{>footer}}
    
    <!-- Scripts -->
    {{>jsdependencies}}
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>