<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML Meta Tags -->
        <!-- SEO Meta Tags -->
        <title>404 - Page Not Found</title>
        <meta name="description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta name="author" content="Omkar Phansopkar">

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="Blood Quest - Seamless way to link blood donors and needies ">
        <meta itemprop="description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta itemprop="image" content="https://bloodquest.herokuapp.com/logoMetaBigB.png">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://bloodquest.herokuapp.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Blood Quest - Seamless way to link blood donors and needies ">
        <meta property="og:description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta property="og:image" content="https://bloodquest.herokuapp.com/images/logoMetaBigB.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Blood Quest - Seamless way to link blood donors and needies ">
        <meta name="twitter:description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta name="twitter:image" content="https://bloodquest.herokuapp.com/images/logoMetaBigB.png">

    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	
	<!-- Favicon  -->
    <link rel="icon" href="images/logoFavicon.png">

    <style type="text/css">
        .header{
            margin-left: 10px;
            padding-top: 10px;
            font-size: 16px;
        }
        .header *{
            margin-right: 5px;
        }
        #bqIcon{
            width: 70px;
            height: 60px;
            float: left;
        }
        #bqText{
            font-size: 27px;
            text-decoration: none;
            color: rgb(238, 0, 0);
            font-weight: bold;
        }
        #content{
            top: 40%;
            font-size: 30px;
            margin: auto;
        }
        #content #title{
            font-size: 200px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #content .imp{
            font-size: 40px;
            text-decoration: none;
        }
        #content .imp:hover{
            font-size: 38px;
        }
        @media (min-width: 992px) {
            #bqIcon{
                width: 90px;
                height: 60px;
            }
            .header{
                margin-left: 50px;
                padding-top: 50px;
            }
        }
    </style>
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <center>
        <div id="content">
            <span id="title">
                <img src="images/maintenance.png" width="300px" height="300px">
            </span>
            <br>
            <h1>We're under maintenance</h1>
            Stay tuned, we'll catch up again
        </div>
    </center>
</body>
</html>