<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML Meta Tags -->
        <!-- SEO Meta Tags -->
        <title>404 - Page Not Found</title>
        <meta name="description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta name="author" content="Omkar Phansopkar">

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="Blood Quest - Seamless way to link blood donors and needies ">
        <meta itemprop="description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta itemprop="image" content="https://bloodquest.herokuapp.com/logoMetaBigB.png">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://bloodquest.herokuapp.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Blood Quest - Seamless way to link blood donors and needies ">
        <meta property="og:description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta property="og:image" content="https://bloodquest.herokuapp.com/images/logoMetaBigB.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Blood Quest - Seamless way to link blood donors and needies ">
        <meta name="twitter:description" content="Blood Quest is an initiative to encourage blood donation and form a notified link between volunteers and patients in need of blood.">
        <meta name="twitter:image" content="https://bloodquest.herokuapp.com/images/logoMetaBigB.png">


    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<!-- Favicon  -->
    <link rel="icon" href="images/logoFavicon.png">

    <style type="text/css">
        body{
            background: #85efff;
             
            /*
            background: #2897d8;  
            background: -webkit-linear-gradient(to right, #73ddeb, #02d8f5);  
            background: linear-gradient(to right, #73ddeb, #02d8f5); 
            */
        }
        .header{
            margin-left: 10px;
            padding-top: 10px;
            font-size: 16px;
        }
        .header *{
            margin-right: 5px;
        }
        #bqIcon{
            width: 70px;
            height: 60px;
            float: left;
        }
        #bqText{
            font-size: 27px;
            text-decoration: none;
            color: rgb(238, 0, 0);
            font-weight: bold;
        }
        #content{
            top: 40%;
            font-size: 30px;
            margin: auto;
        }
        #content #title{
            font-size: 200px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #content .imp{
            font-size: 40px;
            text-decoration: none;
            color: rgb(38, 0, 255);
        }
        #content .imp:hover{
            font-size: 38px;
        }
        @media (min-width: 992px) {
            #bqIcon{
                width: 90px;
                height: 60px;
            }
            .header{
                margin-left: 50px;
                padding-top: 50px;
            }
        }
    </style>
</head>
<body data-spy="scroll" data-target=".fixed-top">


    <div class="header">
        <a class="" href="/">
            <img src="images/logoMetaBigB.png" alt="Blood Quest - Home " id="bqIcon">
            <span class="navbar-brand.logo-text">
                <a class="navbar-brand logo-image" href="/" role="button" id="bqText">Blood Quest
                </a><br>
                <span>&nbsp;&nbsp;&nbsp;You're always somebody's type</span>
            </a>
    </div>
    <br>
    <center>
        <div id="content">
            <span id="title">¯\_(ツ)_/¯</span>
            <br>
            <h3>404 - Page not found</h3>
            Don't worry, head back to <a href="/" class="imp">Home page</a>
        </div>
    </center>

</body>
</html>